@model PrachiIndia.Portal.Models.RegisterViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutCatalouge.cshtml";
}

@*<div class="container">
    <div class="row profile" id="profile">*@

<div class="col-md-3" style="margin-top:2%;">
    @Html.Partial("_Settings")
</div>
<div class="col-md-9" style="margin-top:3%;">
    @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { UpdateTargetId = "ChegeEd", OnSuccess = "ChangeSuccess" }, new { id = "Changepwds" }))
            {

        <div style="padding-bottom: 3%;" class="mainbox col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <div class="panel-body" id="divsid"style="background-color:#fff;border:solid 1px #e8e8e8; box-shadow: 0px 0px 2px #fbfbfb;">
                <div class="panel-heading text-center" id="password_modal">
                    <h3 style="margin:10px 0px 10px 0;border-bottom: solid 1px #e9e9e9;padding-bottom: 20px;">Change Password</h3>
                </div>
                <div class="clearfix"></div>
                <div class="panel-body">
                    @*<label for="confirm_password" class="control-label">Old Password</label>*@
                    <div style="margin-bottom: 4%" class="form-group input-group">
                        @*<label for="confirm_password" class="control-label">New Password</label>*@
                        <span class="input-group-addon"><i class="fa fa-lock" style="font-size: 20px;"></i></span>

                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @style = "border: none !important;" })
                        @*<input type="password" name="new_password" class="form-control">*@
                    </div>
                    @*<label for="confirm_password" class="control-label">New Password</label>*@
                    <div style="margin-bottom: 4%" class="input-group form-group">
                        @*<label for="confirm_password" class="control-label">New Password</label>*@
                        <span class="input-group-addon"><i class="fa fa-lock" style="font-size: 20px;"></i></span>

                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password", @style = "border: none !important;" })
                        @*<input type="password" name="new_password" class="form-control">*@
                    </div>
                    @*<label for="confirm_password" class="control-label">Confirm Password</label>*@
                    <div style="margin-bottom: 10px" class="input-group form-group">

                        <span class="input-group-addon"><i class="fa fa-unlock-alt" style="font-size: 20px;"></i></span>

                        @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @style = "border: none !important;" })
                        @*<input type="password" name="confirm_password" class="form-control">*@
                    </div>
                    <div class="form-group text-center">
                        @*<button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>*@
                        <button type="submit" href="#" class="btn btn-primary" id="password_modal_save">Change Password</button>
                    </div>
                </div>
            </div>
        </div>




    }
</div>
@*</div>
    </div>*@
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script>
        $("#ChangePwd").click(function () {
            $("#profiles").css("display", "none")
            $("#divsid").css("display", "block");
            $("#History").css("display", "none");
        });
        function ChangeSuccess(data) {
            $.notify(JSON.stringify(data), "success");
            var url = "/Account/AccountSetting";
            window.location.href = url;
        };
        $(document).ready(function () {
        //    $(".dropdown").hover(
        //       function () {
        //           $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
        //           $(this).toggleClass('open');
        //       },
        //       function () {
        //           $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
        //           $(this).toggleClass('open');
        //       }
        //   );
        //    $(".check").css("display", "none");
        //});
        $(document).ready(function () {
            $(".mycart").hide();
        });
        function Mainpage() {
            var url = "/Catalogue";
            window.location.href = url;
        }
    </script>
    <style>
       .input-group {
             border: solid 1px #f0e3e3 !important;
        }
       
        .input-group-addon {
            border: none !important;
        }
        .form-control:focus {
            border-color:#cccccc;
            box-shadow:inherit;
        }
        .form-control {
            height: 45px;
            box-shadow: none;
        }
    </style>

}


