@model PrachiIndia.Portal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutCatalouge.cshtml";
}



@*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>*@
@* change start here *@





<div class="wrapper">
    <div class="inner LoginMain">
        <div class="panel-body">
            <div class="col-md-12 form-group text-center" style="margin:15% 0;">
                <img src="/Images/logo.png" alt="Prachi India Pvt Ltd" title="Prachi India Pvt Ltd">
            </div>
            <div class="container">
                <div class="panel-body">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)


                        <!-- Form Name -->
                        <h4 style="margin-bottom:20px">Reset your password.</h4>

                        <!-- Password input-->
                        <div class="col-md-12">
                    <div class="form-group">
                            <label class="control-label" for="piCurrPass">Email</label>
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md" })
                                @*<input id="piCurrPass" name="piCurrPass" type="password" placeholder="" class="form-control input-md" required="">*@

                            </div>
                        </div></div>

                        <!-- Password input-->
                        <div class="col-md-12">
                    <div class="form-group">
                            <label class="control-label" for="piNewPass">Password</label>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md" })
                                @*<input id="piNewPass" name="piNewPass" type="password" placeholder="" class="form-control input-md" required="">*@

                            </div>
                        </div></div>

                        <!-- Password input-->
                        <div class="col-md-12">
                    <div class="form-group">
                            <label class="control-label" for="piNewPassRepeat">ConfirmPassword</label>
                            <div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-md" })
                                @*<input id="piNewPassRepeat" name="piNewPassRepeat" type="password" placeholder="" class="form-control input-md" required="">*@
                            </div>
                        </div></div>

                        <!-- Button (Double) -->
                        <div class="col-md-12">
                    <div class="form-group">
                            <label class="control-label" for="bCancel"></label>
                            <div>
                                <button id="bGodkend" type="submit" name="bGodkend" class="col-md-12 theme-btn loginBtn btn">Reset</button>
                            </div>
                       </div> </div>


                        @* Change End Here *@
                    }
                </div>
            </div>
    </div>
</div></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/login.css" rel="stylesheet" />
}
