@model PrachiIndia.Portal.Models.RegisterViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/CPanel/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_Settings")
<div class="col-md-9">
    @using (Ajax.BeginForm("ChangePassword", "Userdetail", new AjaxOptions { UpdateTargetId = "ChegeEd", OnSuccess = "ChangeSuccess" }, new { id = "Changepwds" }))
            {
        <div class="col-md-9" id="divsid">
            <div class="col-xs-12 col-sm-12">
                <div class="" id="password_modal">
                    <div class="modal-header">
                        <h3>Change Password <span class="extra-title muted"></span></h3>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="control-group">
                            <label for="new_password" class="control-label">New Password</label>
                            <div class="controls">
                                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.newPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="confirm_password" class="control-label">Confirm Password</label>
                            <div class="controls">
                                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" href="#" class="btn btn-primary" id="password_modal_save">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $("#ChangePwd").click(function () {
            $("#profiles").css("display", "none")
            $("#divsid").css("display", "block");
            $("#History").css("display", "none");
        });
        function ChangeSuccess(data) {
            $.notify(JSON.stringify(data), "success");
            var url = "/Account/AccountSetting";
            window.location.href = url;
        };
        //$(document).ready(function () {
        //    $(".dropdown").hover(
        //       function () {
        //           $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
        //           $(this).toggleClass('open');
        //       },
        //       function () {
        //           $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
        //           $(this).toggleClass('open');
        //       }
        //   );
        //    $(".check").css("display", "none");
        //});
        //$(document).ready(function () {
        //    $(".mycart").hide();
        //});
    </script>
}


