@{
    ViewBag.Title = "Download";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">
}
<style type="text/css">
    .svpadding a:hover {
        background-color: #357ebd;
    }
</style>
<section class="block-parallax-1 headdingimg">
    <div class="parallax-bg"></div>
    <div class="md-box">
        <div class="container">
            <div class="panel-body" style="padding-bottom: 0;padding-top:0;">
                <div class="col-md-12 headtitle text-center">
                    <h2>Download Setup</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="innerbradcrum">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>
                            <span>
                                Download Setup
                            </span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="" style="padding-bottom:10px">
    <div id="" class="container">
        <div class="clearfix"></div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="servicestab">
                            <h4>Readedge</h4>
                            <div class="panel-body svpadding">
                                <div class="col-md-12 text-center icon-imgpad">
                                    <img src="~/img/events/readedge-setup.png" alt="readedge setup" class="img-responsive icon-imgcenter" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
                                    <p>
                                        <a class="btn btn-primary btn-large" href="@Url.Action("Setup","Home",new { SetupType=1})"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicestab">
                            <h4>ReadEdge Enterprise</h4>
                            <div class="panel-body svpadding">
                                <div class="col-md-12 text-center icon-imgpad">
                                    <img src="~/img/events/readedge-enterprises.png" alt="readedge enterprises" class="img-responsive icon-imgcenter" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>Readedge is a smart-class application which focus on delivering content and media strictly in accordance to our print books but is not limited to the books, it is more descriptive and contains tools necessary for dynamic teaching experience and thus developing an interactive and innovative learning.</p>
                                    <p> <a class="btn btn-primary btn-large" href="@Url.Action("Setup","Home",new { SetupType=7})"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="servicestab">
                            <h4>.NET Framework</h4>
                            <div class="panel-body svpadding">
                                <div class="col-md-12 text-center icon-imgpad">
                                    <img src="~/img/events/dotnet-framework.png" alt="dotnet framework" class="img-responsive icon-imgcenter" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>.NET Framework (pronounced dot net) is a software framework developed by Microsoft that runs primarily on Microsoft Windows. It provides a programming guidelines that can be used to develop a wide range of applications from web to mobile to Windows-based applications. The .NET framework can work with several programming languages such as C#, VB.NET, C++ and F#.</p>
                                    <p>  <a class="btn btn-primary btn-large" href="@Url.Action("Setup","Home",new { SetupType=2})"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="servicestab">
                            <h4>Win Vista 32bit</h4>
                            <div class="panel-body svpadding">
                                <div class="col-md-12 text-center icon-imgpad">
                                    <img src="~/img/events/window-vista.png" alt="window vista" class="img-responsive icon-imgcenter" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>If you have a device running Windows Vista then update it using this installer file package as Windows Update is officially a discontinued component for Windows Vista and Windows 7 that enabled users to update their editions of Windows (e.g., with several fixes and technical enhancements that lets a user to run an advanced application on a previous version of OS).</p>
                                    <p>  <a class="btn btn-primary btn-large" href="@Url.Action("Setup","Home",new { SetupType=3})"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="servicestab">
                            <h4>Win7 32bit</h4>
                            <div class="panel-body svpadding">
                                <div class="col-md-12 text-center icon-imgpad">
                                    <img src="~/img/events/window-7-32bit.png" alt="window 7 32bit" class="img-responsive icon-imgcenter" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>If your system is running on an outdated Windows OS without any service pack installed then It's necessary for Windows to get updated with the new updates as Microsoft routinely patches newly discovered holes, adds malware definitions to its Windows Defender and Security Essentials utilities, bolsters Office security, and so on... In other words, yes it's absolutely necessary to update Windows so as to run the latest applications smoothly and effectively without facing any exceptions and errors.</p>
                                    <p><a class="btn btn-primary btn-large" href="@Url.Action("Setup","Home",new { SetupType=4})"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="servicestab">
                            <h4>Win7 64bit</h4>
                            <div class="panel-body svpadding">
                                <div class="col-md-12 text-center icon-imgpad">
                                    <img src="~/img/events/window-7-64bit.png" alt="window 7 64bit" class="img-responsive icon-imgcenter" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>To run latest applications and software developed on windows platform, it is required that the window OS in-particular is very well updated and is made compatible by using Windows Update, which is a free Microsoft service that's used to provide updates like service packs and patches for the Windows operating system and other Microsoft software. Windows Update can also be used to update drivers for popular hardware devices.</p>
                                    <p><a class="btn btn-primary btn-large" href="@Url.Action("Setup","Home",new { SetupType=5})"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section scripts{
    <style>
        .icon-imgcenter {
            width: 175px;
            margin: 0 auto;
        }

        .servicestab > h3, h4, h5, h6 {
            text-transform: none !important;
        }

        .icon-btn {
            padding: 5px 20px !important;
            border-radius: 0px;
            border: solid 1px #f1f1f3;
        }

            .icon-btn:hover {
                background-color: #f3f3f3 !important;
                border: solid 1px #cccccc;
            }

        .btn-glyphicon {
            padding: 2px;
            margin-right: 6px;
        }

        .servicestab {
            border-radius: 8px !important;
        }
    </style>
}
