@{
    ViewBag.Title = "Prachi Group - Educational Books Publishers India";
}
@section metatags{
    <title>Prachi Group - Educational Books Publishers India</title>
    <meta name="keywords" content="books, epublishing, digital publishing, digital conversion, digital transformation, ebook publishing, ebook conversion, ebook transformation, ebook creation, content publishing, content conversion, content transformation, content creation, content enrichment, ebook enhancement, ebook consulting, epub publishing, epub conversion, epub transformation, xml consulting, xml publishing, xml conversion, xml transformation">
    <meta name="description" content="We are a leading services company providing content solutions, data analytics and related services to publishers, information providers, and enterprises.">

    <link rel="canonical" href="https://www.prachiindia.com/" />
    <meta name="author" content="Book Publisher" />


    <meta name="robots" content="Index, Follow" />
    <meta name="country" content="India" />
    <meta name="city" content="Noida, Delhi, Gaziyabad">
    <meta name="language" content="english" />

    <meta name="robots" content="NOODP" />
    <meta property='og:image' content="https://www.prachiindia.com/img/slider/books_slider.png" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://www.prachiindia.com/" />
    <meta property="og:type" content="Website" />
    <meta property="og:site_name" content="Prachi [India] Pvt. Ltd." />


}
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
        background: #d40000;
    }
</style>


<section class="rmvpadding">
    <div class="clearfix"></div>
    <!--slider start here-->
    <div class="container-fluid">
        <div id="example-25" class="ma5slider hover-navs hover-dots anim-horizontal outside-dots center-dots inside-navs loop-mode autoplay" data-tempo="3500">
            <div class="slides">
                <p><img src="~/img/slider/books_slider.png" /></p>
                <p><img src="~/img/slider/ebook-conversion.png" /></p>
                <p data-ma5-anim="anim-vertical"><img src="~/img/slider/slider-3.png" /></p>
                <p data-ma5-anim="anim-fade"><img src="~/img/slider/test_hour_slider.png" /></p>
                <p><img src="~/img/slider/digitisation_slider.png" /></p>
            </div>
        </div>
    </div>
    <!--slider end here-->
    <div class="container">
        <div class="col-md-12 serviceshead">
            <h2>Welcome to <span style="color: #ffffff; background-color: #162d50; padding: 1px 10px;">Prachi Group</span></h2>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            <blockquote @*class="quote-card"*@>

                <p>
                    <b>PRACHI INDIA PVT.LTD</b> is one of the pioneer educational publishers of India. The learner is centre of attention. We take pride in developing and publishing content catering to the needs of pre-primary level to high school level. It is sine qua non of our policy that the power of continuous innovation and insatiable knowledge always steers and motivates us to evolve and transform our books It is our belief in power of innovation and knowledge which always steers us to evolve and transform our books to be the ne plus ultra for the future needs and dynamics.
                </p>
                <p><a href="@Url.Action("About","Home")">Read More <i class="fa fa-angle-right"></i></a></p>
            </blockquote>
        </div>
        @*<div class="panel-body svpadding">
                <div class="clearfix"></div>
                <div class="panel-body col-md-8 col-md-offset-2" style="box-shadow: rgba(161, 129, 129, 0.3) 0px 0px 2px;">
                    <div class="col-md-12 text-center producttab">
                        <p style="text-align:justify">PRACHI INDIA PVT.LTD is one of the pioneer educational publishers of India. The learner is centre of attention. We take pride in developing and publishing content catering to the needs of pre-primary level to high school level. It is sine qua non of our policy that the power of continuous innovation and insatiable knowledge always steers and motivates us to evolve and transform our books It is our belief in power of innovation and knowledge which always steers us to evolve and transform our books to be the ne plus ultra for the future needs and dynamics.</p>
                        <p><a href="@Url.Action("About","Home")">Read More <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="container">
        <div class="col-md-12 serviceshead">
            <h2>Our Books</h2>
        </div>
    </div>
    <section class="bookstab">
        <div class="container">
            <div class="col-md-12">
                <ul id="flexiselDemo3">
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_shwar.png" alt="product-12" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_byanjan.png" alt="product-1" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_chemistry.png" alt="product-2" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_environment.png" alt="product-3" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_geography.png" alt="product-4" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_learn.png" alt="product-6" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_math.png" alt="product-7" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_phonices.png" alt="product-8" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_rhymes.png" alt="product-9" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_science.png" alt="product-10" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_shabd.png" alt="product-11" /></a></li>

                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_small.png" alt="product-13" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_world_book.png" alt="product-13" /></a></li>
                    <li><a href="@Url.Action("Index","Catalogue")"><img src="~/img/our_books/new_history.png" alt="product-5" /></a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-md-12 serviceshead">
            <h2>Our Services</h2>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="servicestab">
                <h4>Publishing Services</h4>
                <div class="panel-body svpadding">
                    <div class="col-md-12 text-center icon-imgpad"><img src="~/img/services/book-icon.png" alt="book-icon" class="rotate" /></div>
                    <div class="col-md-12 text-center">
                        <p>Prachi publication serves teachers and students by providing a wholly blended- learning environment by combining</p>
                        <p><a href="@Url.Action("eBookSeries","Home")">Read More <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="servicestab">
                <h4>Digitisation Services</h4>
                <div class="panel-body svpadding">
                    <div class="col-md-12 text-center icon-imgpad"><img src="~/img/services/digitization-icon.png" alt="digitization-icon" class="rotate" /></div>
                    <div class="col-md-12 text-center">
                        <p>With the change in learning dynamics and unprecedented thrust on moving beyond chalk and classroom.</p>
                        <p><a href="@Url.Action("Services","Home")">Read More <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="servicestab">
                <h4>eBook Services</h4>
                <div class="panel-body svpadding">
                    <div class="col-md-12 text-center icon-imgpad"><img src="~/img/services/ebooks-icon.png" alt="ebooks-icon" class="rotate" /></div>
                    <div class="col-md-12 text-center">
                        <p>We brings more than 20 years of Publishing expertise and experience to create, enhance, distribute and protect.</p>
                        <p><a href="@Url.Action("Services","Home")">Read More <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 serviceshead">
            <h2>Our Products</h2>
        </div>
    </div>
    <section style="background-color:#81fff4; padding:20px 0;">
        <div class="container">
            <div class="panel-body svpadding">
                <div class="clearfix"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-body abtprachitab">
                        <div class="col-md-6">
                            <div class="panel-body servicestab" style="padding-top:0">
                                <h3>Readedge</h3>
                                <div class="panel view view-first">
                                    <img src="~/img/slider/books/readedge.png" alt="readedge" class="img-responsive img-thumbnail" />
                                    <div class="mask">
                                        <h2>About Readedge</h2>
                                        <p class="product_para">A digitized mechanism which enables an ecosystem of active learning environment with effective blend of innovative classroom teaching.</p>
                                        <a href="@Url.Action("Product","Home")" target="_blank" class="info">Read More</a>
                                        @*<p class="videobutton"><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
                                                                                    <span class="video-link-icon"><i class="fa fa-play"></i></span>
                                                <span class="video-link-text">Launch Video</span>
                                            </a></p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-body servicestab" style="padding-top:0">
                                <h3>Test Hour</h3>
                                <div class="panel view view-first">
                                    <img src="~/img/slider/books/test-hour.png" alt="test-hour" class="img-responsive img-thumbnail" />
                                    <div class="mask">
                                        <h2>About Test Hour</h2>
                                        <p class="product_para">A wonderful serenity has taken possession of my entire</p>
                                        <a href="@Url.Action("Product","Home")" target="_blank" class="info">Read More</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--leadership start here-->
    <div class="container">
        <div class="col-md-12 serviceshead">
            <h2>Leadership</h2>
        </div>
    </div>
    <section class="leadership">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2" role="tabpanel">
                    <div class="col-xs-4 col-sm-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="~/img/aboutus/RAKESHTYAGI.png" alt="Rakesh Tyagi" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="~/img/aboutus/MUKESHTYAGI.png" alt="Mukesh Tyagi" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="~/img/aboutus/AkshayTyagi.png" alt="Akshay Tyagi" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            @*<li role="presentation" class="">
                                    <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="~/img/aboutus/BhanupratapTyagi.png" alt="Bhanu pratap Tyagi" />
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                    </a>
                                </li>*@
                            <li role="presentation" class="">
                                <a href="#wafer1" aria-controls="wafer" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="~/img/aboutus/DrDKSharma.png" alt="Dr. D.K. Sharma" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#wafer2" aria-controls="wafer" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="~/img/aboutus/SandeepTyagi.png" alt="Sandeep Tyagi" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <!-- Tab panes -->
                        <div class="tab-content" id="tabs-collapse">
                            <div role="tabpanel" class="tab-pane fade in active" id="dustin">
                                <div class="tab-inner">
                                    <p class="lead">RAKESH TYAGI<br />(Managing Director)</p>
                                    <hr style="background-color:#e7dede;">
                                    <br />
                                    @*<p><strong class="text-uppercase">Dustin Lamont</strong></p>*@
                                    @*<p><em class="text-capitalize"> An astute professional and visionary with an infinite and insatiable thirst for knowledge. He has the knack of perfection which uninterruptedly drives him to learn and improve every single second. His acquaintance with the Industry dynamics and core competencies has empowered us to augment the infrastructure and organizational delivery efficiency required by the users. It is under his dynamic and philanthropist leadership that Prachi has become a respected name in educational publishing segment.</em></p>*@
                                    <p><a href="@Url.Action("About","Home",new {id="Leadership"})">Read More...</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="daksh">
                                <div class="tab-inner">
                                    <p class="lead">MUKESH TYAGI<br />(Chairman, Director)</p>
                                    <hr style="background-color:#e7dede;">
                                    <br />
                                    @*<p><strong class="text-uppercase">Daksh Bhagya</strong></p>*@
                                    @*<p><em class="text-capitalize">A seasoned go getter who has spent all his professional experience in building reader base (consumers, users) and business sales strength. He is adept at handling sales & marketing across all domains and verticals, driving operations, managing large projects and teams across geographies which has helped him to develop keen understanding of customer needs. It is his business acumen which drives our project to success.</em></p>*@
                                    <p><a href="@Url.Action("About","Home",new {id="Leadership"})">Read More...</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="anna">
                                <div class="tab-inner">
                                    <p class="lead">Akshay Tyagi<br />(VP-International Business)</p>
                                    <hr style="background-color:#e7dede;">
                                    <br />
                                    @*<p><strong class="text-uppercase">Anna Pickard</strong></p>*@
                                    @*<p><em class="text-capitalize"> An affable personality brimmed with prolific attitude, his knack of adding zest to the team and straight forward approach is an asset to all of us that keeps the business in-line and on the right side of the balance sheet. He is the passionate strategist with all the excels, targets and not to mention deadlines.</em></p>*@
                                    <p><a href="@Url.Action("About","Home",new {id="Leadership"})">Read More...</a></p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="wafer">
                                <div class="tab-inner">
                                    <p class="lead"> Bhanu pratap Tyagi<br />(CIO Prachi Group , VP Digiets [Digital Learning Co.])</p>
                                    <hr style="background-color:#e7dede;">
                                    <br />
                                    @*<p><strong class="text-uppercase">Wafer Baby</strong></p>*@
                                    @*<p><em class="text-capitalize"> An articulate and young professional, who exudes exuberance and impregnable confidence in process improvement and smooth undertaking of digital offerings. He is a quick learner and avid facilitator who brings fresh insight into market outreach, product management and customer experience.</em></p>*@
                                    <p><a href="@Url.Action("About","Home",new {id="Leadership"})">Read More...</a></p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="wafer1">
                                <div class="tab-inner">
                                    <p class="lead"> Dr. D.K. Sharma<br />(Academic Consultant)</p>
                                    <hr style="background-color:#e7dede;">
                                    <br />

                                    @*<p><em class="text-capitalize"> A voracious reader and exceptional writer having perfect erudition and suavity. He helmed the Agra Hindi institute for 20 years. He comes with an unrivalled knowledge base, a spirited dynamism, obsession for excellence, an oceanic mine of knowledge, great passion for innovation and perpetual learning.</em></p>*@
                                    <p><a href="@Url.Action("About","Home",new {id="Leadership"})">Read More...</a></p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="wafer2">
                                <div class="tab-inner">
                                    <p class="lead"> Sandeep Tyagi<br />(General Manager)</p>
                                    <hr style="background-color:#e7dede;">
                                    <br />
                                    @*<p><em class="text-capitalize"> He is an inspiring team leader and mentor who invoke best out of the team every time. He has the track record of customer centricity, passion for excellence and tenacity in execution. He handles key accounts, plays an important role in strengthening existing customer base. His competence to ensure that customer is satisfied and engaged emanates from his innate trait around being genuinely caring about people. </em></p>*@
                                    <p><a href="@Url.Action("About","Home",new {id="Leadership"})">Read More...</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--leadership end here-->
    <div class="container">
        <div class="col-md-12 serviceshead">
            <h2>Testimonials</h2>
        </div>
    </div>
    <section class="testimonials">
        <div class="container">
            <div class="panel-body">
                <ul id="testimonials">
                    <li>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="panel-body" style="background-color:#ffffff; border-radius:10px; float:left; padding-left:0; padding-right:0;">
                                <div class="col-md-12 testcontent">Read edge is a very likable app and we use it to teach our students on a daily basis. It is definitely one of the best time and efforts saving tools we have got for our teachers in a very long time. Prachi Group is doing a tremendous job by integrating textbook &amp; digital leaning.</div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text-center">
                                        <p class="testimoicon"><img src="/img/testimonials/jashdish-hora.png" alt="jashdish-hora"></p>
                                        <p class="testusername">Jagdish Chander Hora</p><p class="testprofile">Panchsheel Public School Badarpur</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="panel-body" style="background-color:#ffffff; border-radius:10px; float:left; padding-left:0; padding-right:0;">
                                <div class="col-md-12 testcontent">We are into the business with Prachi from a long time. I must say, Prachi books are quite competitive and in depth knowledge is given in every topic which helps both teachers & students.</div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text-center">
                                        <p class="testimoicon"><img src="/img/testimonials/sarat.png" alt="sarat"></p>
                                        <p class="testusername">Sarat Chandra</p><p class="testprofile">Doon Public School, Pachim Vihar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="panel-body" style="background-color:#ffffff; border-radius:10px; float:left; padding-left:0; padding-right:0;">
                                <div class="col-md-12 testcontent">After investing a lot of time in selecting textbooks for our students. We decided to introduce Prachi Books in our school. Our teachers really like the books and appreciated the efforts done by Prachi in compiling all the important topics.</div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text-center">
                                        <p class="testimoicon"><img src="/img/testimonials/vikash.png" alt="vikash"></p>
                                        <p class="testusername">Vikas Sharma</p><p class="testprofile">Northland Public School, Faridabad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

<!---Welcome Note--->

<style>

    .close01:focus, .close01:hover {
        opacity: 1 !important;
    }

    .close01 {
        opacity: 1 !important;
    }



    .subscribe01 {
        padding: 12px 30px;
        background-color: #e90202;
        color: #fff;
        border: solid 1px #e90202;
        width: auto;
        border-radius: 30px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 4%;
    }

        .subscribe01:hover {
            color: #ffffff;
        }

    .panelpadding h3 {
        line-height: 30px;
        font-size: 19px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        margin: 0;
        font-weight: 600;
        color: #162d50;
    }

    .panelpadding {
        padding: 2% 0;
        float: left;
        width: 100%;
        text-align: center;
        color: #162d50;
    }

    .contmiddle {
        width: 400px;
        margin: 0 auto;
        height: 100%;
        text-align: center;
    }
    .container01 {
        padding: 15px;
        text-align: center;
        background-color: #ffffff;
        border: solid 5px #353333;
        width: 400px;
        height: auto;
        float: left;
        position:relative;
    }

    .modal01 {
        display: block;
        position: fixed;
        z-index: 999999999999999999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: rgba(13, 13, 13, 0.5);
        padding-top: 50px;
    }

    .modal-content01 {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;

    }



    .close01 {
        position: absolute;
        right: 0px;
        top: -17px;
        font-size: 40px;
        font-weight: bold;
        color: #000000 !important;
    }

        .close01:hover,
        .close01:focus {
            color: #ffffff;
            cursor: pointer;
        }

   
</style>
<div id="Subscribe" class="modal01">

    <div id="modal">
        <div class="container" style="margin: 0 3%;">
        <div class="panel col-md-4 col-md-offset-4">
        <div class="panel-body">
            <span onclick="LoadHomePage()" class="close01">×</span>
            <div class="col-md-12 panelpadding">
                <h3>
                    Education: Expected Best?<br />
                    Investment: Expected less?<br />
                    so, PAY SMART and GET EDUCATED.
                </h3>

                <h3 class="panelpadding">READEDGE, your Academic Companion.</h3>
            </div>
            <div class="col-md-12 panelpadding">
                <b>Knowledge</b> comes from books and you can find them all in <b>READEDGE,</b><br />
                Join now to Get the most at its best, pay an exceptional value of<br /> <b>less than Rs. 3 a day</b> and feel the
                difference.
            </div>
            <div class="col-md-12 panelpadding text-center"><a href="@Url.Action("Index","UserSubscription")" class="btn subscribe01">Subscribe Readedge</a></div>
        </div></div></div>
    </div>
</div>
<!---Welcome Note Ends--->

<script>

    function LoadHomePage() {
        $(".modal01").css("display", "none");
    }
</script>



@section scripts{
    <link href="~/Content/css/product/style_common.css" rel="stylesheet" />
    <link href="~/Content/css/product/style1.css" rel="stylesheet" />
    <link href="~/Content/js/mainslider/ma5slider.min.css" rel="stylesheet" />

    <script src="~/Content/js/mainslider/jquery-ui.min.js"></script>
    <script src="~/Scripts/PrachiJs/jquery.flexisel.js"></script>
    <script src="~/Content/js/mainslider/ma5slider.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            $("#testimonials").flexisel({
                visibleItems: 1,
                itemsToScroll: 1,
                animationSpeed: 400,
                infinite: true,
                navigationTargetSelector: null,
                autoPlay: {
                    enable: false,
                    interval: 5000,
                    pauseOnHover: true
                },
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1,
                        itemsToScroll: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1,
                        itemsToScroll: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1,
                        itemsToScroll: 1
                    }
                }
            });
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.ma5slider').ma5slider();
        });
        $(document).ready(function () {
            $("#flexiselDemo3").flexisel({
                visibleItems: 6,
                itemsToScroll: 2,
                autoPlay: {
                    enable: true,
                    interval: 4000,
                    pauseOnHover: true
                }
            });

        });
    </script>

}                                     