@model LibraryVM
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var book = ViewBag.Book;
    var thbid = Convert.ToInt32(ViewBag.THBid);
    var userid = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<style>
    #otpLoader {
        text-align: center;
        margin: 0 auto;
    }

    .subjectBtn span {
        font-size: 9px;
        width: 100%;
        float: left;
    }
</style>
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-4">
        <div class="breadcrumbs-top">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <div class="fonticon-wrap icon-shadow icon-shadow-primary">
                            <a href="#" onclick="history.go(-1)"><i class="ft-corner-up-left"></i></a>
                        </div>
                    </li>
                    <li class="breadcrumb-item active">
                        Book Detail
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-body subjectDetails">
            <div class="row">
                <div class="col-md-4">

                    <p style="border:solid 5px #cccccc;"><img class="img-responsive" src="~/images/coverpage.png" /></p>
		    <div id="BuyNowLink">
			<p><a href="https://prachiindia.com/Catalogue/detail?id=@book.Id" target="_blank"><span style="color: #b93538;">BUY E-BOOK FOR FULL CONTENT</span></a></p>
		    </div>
                </div>


            
          
                <div class="col-md-8">
                    <h3>Animal Tracks</h3>
                    <hr />
                    @*<p><a asp-controller="home" asp-action="ViewContent" asp-route-BookId="@book.Id" asp-route-BookName="@book.Title" asp-route-type="0" class="btn btn-default btn-2 subjectBtn" disabled="@(!book.IsEbook)">Course Book</a></p>*@
         
                        <p><a asp-controller="home" asp-action="ViewContent" asp-route-BookId="@book.Id" asp-route-BookName="Animal_Tracks" asp-route-AllowedCBPages="@book.AllowedCBPages" asp-route-type="0" class="btn btn-default btn-2 subjectBtn" disabled="@(!book.IsEbook)">Read Now</a></p>
                   
                </div>
               

            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/js/toastr.min.js"></script>
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('#exampleModalCenter').modal('hide');
            var AlreadyUser = '@ViewBag.AlreadyUser'
            if (AlreadyUser=="False") {
                $('#exampleModalCenter').modal('show');
            }

	    if ("@HttpContextAccessor.HttpContext.Session.GetString("UserId")" == "") {
	        $('#BuyNowLink').css("display", "block");
            }else {
	        $('#BuyNowLink').css("display", "none");
            }

            if ("@HttpContextAccessor.HttpContext.Session.GetString("IsVerified")" == "NO" && "@HttpContextAccessor.HttpContext.Session.GetString("UserId")" == "") {

                $('#OtpCenter').modal('show');
            }

           
        })

        $("#btnGetOtp").click(function () {
            resendOTP();
        })

        function resendOTP() {

            //var Name = $("#Name").val();
            //var Email = $("#Email").val();
            var MobileNo = $("#Mobile").val();
            var isValid = true;

            //if (Name == "") {
            //    toastr.error('NAME REQUIRED');
            //    isValid = false;
            //    return false;
            //}

            var Contactnumber = "@HttpContextAccessor.HttpContext.Session.GetString("ContactNo")";

            if (Contactnumber != "") {
                MobileNo= Contactnumber
            }

            if (MobileNo == "") {
                toastr.error('MOBILENO REQUIRED');
                isValid = false;
                return false;
            }
            if (isValid) {
                $("#otpLoader").css("display", "block");
                $("#btnGetOtp").css("display", "none");
                $.ajax({
                    data: { ContactNo: MobileNo },
                    url: '@Url.Action("GetOTP", "Home")',
                    type: 'Get',
                    success: function (data) {
                        if (data != "Failed") {
                            $('#exampleModalCenter').modal('hide');
                            $('#OtpCenter').modal('show');
                            $("#spanMobileNumber").html(data);
                            $("#otpLoader").css("display", "none");
                            $("#btnGetOtp").css("display", "block");
                            $("#divresendotp").css("display", "none");
                            $("#divcountdown").css("display", "block");


                            var timer2 = "2:00";
                            var interval = setInterval(function () {


                                var timer = timer2.split(':');
                                //by parsing integer, I avoid all extra string processing
                                var minutes = parseInt(timer[0], 10);
                                var seconds = parseInt(timer[1], 10);
                                --seconds;
                                minutes = (seconds < 0) ? --minutes : minutes;
                                if (minutes < 0) clearInterval(interval);
                                seconds = (seconds < 0) ? 59 : seconds;
                                seconds = (seconds < 10) ? '0' + seconds : seconds;
                                //minutes = (minutes < 10) ?  minutes : minutes;



                                if (minutes < 0) {
                                    $("#divresendotp").css("display", "block");
                                    $("#divcountdown").css("display", "none");
                                }
                                $('.countdown').html(minutes + ':' + seconds);
                                timer2 = minutes + ':' + seconds;
                            }, 1000);
                        }
                    }


                })
            }
        }


        $("#btnSave").click(function () {
            var Name = $("#Name").val();
            var Email = $("#Email").val();
            var MobileNo = $("#Mobile").val();
            var OTP = $("#OTP").val();
            var isValid = true;

            if (OTP == "") {
                toastr.error('OTP REQUIRED');
                isValid = false;
                return false;
            }
            if (isValid) {
                $("#otpVerifyLoader").css("display", "block");
                $("#btnSave").css("display", "none");
                $.ajax({
                    data: { ContactNo: MobileNo, Name: Name, Email: Email, OTP: OTP },
                    url: '@Url.Action("VerifyOTP", "Home")',
                    type: 'Get',
                    success: function (data) {
                        if (data == "Success") {
                            $('#exampleModalCenter').modal('hide');
                            $('#OtpCenter').modal('hide');
                            //$("#spanMobileNumber").html(data);
                            //$("#otpLoader").css("display", "none");
                            //$("#btnGetOtp").css("display", "block");
                            //$("#divresendotp").css("display", "none");
                            //$("#divcountdown").css("display", "block");
                        }

                        if (data == "Invalid") {

                            toastr.error('INVALID OTP');
                            $("#otpVerifyLoader").css("display", "none");
                            $("#btnSave").css("display", "block");
                        }

                        if (data == "Failed") {
                            toastr.error('SOMETHING WENT WRONG ,PLEASE TRY AGAIN LATER');
                        }
                    }


                })
            }
        })

        $("#test").click(function () {

        })

        function OpenAlert() {
            $('#TPGModaL').modal('show');
        }
    </script>

}
