@model LibraryVM
@{
    Layout = null;
    var book = ViewBag.Book;
}
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/style.min.css" rel="stylesheet" />
<link href="/css/viewer.css" rel="stylesheet" />
<style>
    .btn {
        width: auto !important;
    }

        .btn::after {
            content: none !important;
        }

    #documentViewer {
        width: 100% !important;
        float: left;
    }

    .icon-shadow a {
        width: 40px;
        height: 40px;
        float: left;
        padding: 8px;
        color: #4340c2;
    }
</style>
<div class="container">
    <div class="panel-body subjectDetails" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-6" style="width:50%;float:left;height:auto;">
                @*<button type="button" class="btn btn-secondary" onclick="history.go(-1)"><i class="ft-corner-up-left"></i></button>*@
                <div class="fonticon-wrap icon-shadow icon-shadow-primary mt-3">
                    <a href="#" onclick="history.go(-1)"><i class="ft-corner-up-left"></i></a>
                </div>
            </div>
            

            <div id="result" class="form-group col-md-12">
                @{
                    Html.RenderPartial("_PdfViewer");
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/3.4.1_jquery.min.js"></script>
<script src="/js/4.3.1_bootstrap.min.js"></script>
<script>


    $(document).ready(function () {
        var filename = '@ViewBag.FileName';
        var Title = '@ViewBag.BooName'
        var BookId = '@Model.BookId'
        var AllowedPage='@book.AllowedCBPages'
        loaddocument(Title, filename, BookId, AllowedPage);
        //loadtitle();
    });

    function loaddocument(Title, FIle, BookId, AllowedPage) {

                    $.ajax({
                    url: '@Url.Action("TestPartial", "Home")',
                        data: { Title: Title, pdfFIle: FIle, EbookPdf: true, BookId: BookId, AllowedPage: AllowedPage},
                    type: 'Get',
                    success: function (data) {
                        $("#result").html(data);
                },
            });
    }

</script>
