@model LibraryVM
@{
    Layout = null;
    var book = ViewBag.Book; // READEDGE_30012020A001 SiddharthSingh

}
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/style.min.css" rel="stylesheet" />
<link href="/css/viewer.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="~/images/favicon.png" sizes="32x32" />
<style>
    .btn {
        width: auto !important;
    }

        .btn::after {
            content: none !important;
        }

    #documentViewer {
        width: 100% !important;
        float: left;
    }

    .icon-shadow a {
        width: 40px;
        height: 40px;
        float: left;
        padding: 8px;
        color: #4340c2;
    }
</style>
<div class="container">
    <div class="panel-body subjectDetails" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-12 form-group">
                @*<button type="button" class="btn btn-secondary" onclick="history.go(-1)"><i class="ft-corner-up-left"></i></button>*@
                <div class="fonticon-wrap icon-shadow icon-shadow-primary mt-3">
                    <a href="#" onclick="history.go(-1)"><i class="ft-corner-up-left"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="form-group col-md-6">
                <label asp-for="Chapter" class="col-form-label">@ViewBag.LblChapter</label>
                @*<select asp-for="Chapter" class="form-control" asp-items="@(new SelectList(ViewBag.Chapters," Id","Title"))"></select>*@
                @Html.DropDownList("Chapter", (IEnumerable<SelectListItem>)ViewBag.Chapters, null, new { @class = "select-css form-control" })
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ChapterContent" class="col-form-label">@ViewBag.LblContent</label>
                @*<select asp-for="ChapterContent" class="form-control" asp-items="@(new SelectList(ViewBag.ChapterContents," Name","Title"))"></select>*@

                @Html.DropDownList("ChapterContents", (IEnumerable<SelectListItem>)ViewBag.ChapterContents, null, new { @class = "select-css form-control" })
            </div>

            <div id="result" class="form-group col-md-12">
                @{
                    Html.RenderPartial("_PdfViewer");
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/3.4.1_jquery.min.js"></script>
<script src="/js/4.3.1_bootstrap.min.js"></script>
<script>


    $(document).ready(function () {
        var filename = '@ViewBag.FileName';
        var Title = '@ViewBag.BooName'
        loaddocument(Title, filename);
        loadtitle();

       
    });
    $("#ChapterContents").change(function () {
        var Title = '@ViewBag.BooName'
        var pdfFIle = $(this).val();
        loaddocument(Title, pdfFIle);
    })
    function loadtitle() {
        var Chapter = $('#Chapter').val();
        var BookID = @Model.BookId;

        var Type = @ViewBag.Type;
        $.ajax({
            url: '@Url.Action("GetContenByChapter", "Home")',
            type: 'Get',
            data: { Chapter: Chapter, BookID: BookID, Type: Type },
            success: function (data) {
                var $el = $("#ChapterContents");
                $el.empty();
                $.each(data, function (value, key) {
                    $el.append($("<option></option>").attr("value", key.name).text(key.title));
                });
            },
        });
    }
    $("#Chapter").change(function () {
        loadtitle();
        @*var Chapter = $(this).val();
        var BookID = @Model.BookId;

        var Type = @ViewBag.Type;
        $.ajax({
            url: '@Url.Action("GetContenByChapter", "Home")',
            type: 'Get',
            data: { Chapter: Chapter, BookID: BookID, Type: Type },
            success: function (data) {
                var $el = $("#ChapterContent");
                $el.empty();
                $.each(data, function (value, key) {
                    $el.append($("<option></option>").attr("value", key.name).text(key.title));
                });
            },
        });*@
    })


    function loaddocument(Title, FIle) {
        var Type = "@ViewBag.Type";
        $.ajax({
            url: '@Url.Action("TestPartial", "Home")',
            data: { Title: Title, pdfFIle: FIle, Type: Type, EbookPdf: false},
            type: 'Get',
            success: function (data) {
                $("#result").html(data);   
            },
        });
    }

</script>
