@model PrachiIndia.Portal.Models.Response
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_LayoutCatalouge.cshtml";
    var customer = ViewBag.customer;
}

@if (Model != null)
{
    <div class="row" style="margin-top:3%;">

        @*<button id="cmd">generate PDF</button>*@
        <div id="target">
            <div class="container">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:1%;">
                    <p><a id="cmd" href="#" class="btn hide"><i class="fa fa-file-pdf-o fa-3" style="float:right" aria-hidden="true"></i></a></p>

                    <div class="col-md-4">
                        <div class="panel-body" style="border:solid 1px #cccccc; box-shadow:1px 1px 3px #cccccc;">
                            <h4 style="color:#ae0910;">STATUS: @Model.Status</h4>
                            @*<p><strong style="text-decoration: underline;text-transform: uppercase;">ORDERED BY</strong></p>*@
                            <div class="col-md-3"><p>COMPANY:</p></div>
                            <div class="col-md-9"><p><a href="http://prachiindia.com/">Prachi [India] Pvt. Ltd.</a></p></div>
                            <div class="col-md-3"><p>Website:</p></div>
                            <div class="col-md-9"><p><a href="http://prachiindia.com/">www.PrachiIndia.com</a></p></div>
                            <div class="col-md-3"><p>Email:</p></div>
                            <div class="col-md-9"><p><a href="">info@PrachiIndia.com</a></p></div>
                            <div class="col-md-3"><p>Address:</p></div>
                            <div class="col-md-9"><p>309/10, ALLIED HOUSE INDER LOK,DELHI-110035</p></div>
                            <div class="col-md-3"><p>Contact:</p></div>
                            <div class="col-md-9"><p>+ 91-11-47320666(8 Lines)</p></div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel-body" style="border:solid 1px #cccccc; box-shadow:1px 1px 3px #cccccc;">
                            @{
                                var orderno = Model.TransactionId;
                                <h4 style="text-transform: uppercase;color:#ae0910;">Order#: @orderno</h4>
                                <p>Date: @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            }
                            <p> <strong style="text-decoration: underline;text-transform: uppercase;">BILLING ADDRESS</strong></p>

                            <div class="col-md-3"><p>Name:</p></div>
                            <div class="col-md-9"><p>@Model.CustomerName.ToUpper()</p></div>
                            <div class="col-md-3"><p>Email:</p></div>
                            <div class="col-md-9"><p>@customer.Email</p></div>
                            <div class="col-md-3"><p>Address:</p></div>
                            <div class="col-md-9"><p>@customer.Address</p></div>
                            <div class="col-md-3"><p>Country:</p></div>
                            <div class="col-md-9"><p>@customer.Country</p></div>
                            <div class="col-md-3"><p>State:</p></div>
                            <div class="col-md-9"><p>@customer.State</p></div>
                            <div class="col-md-3"><p>City:</p></div>
                            <div class="col-md-9"><p>@customer.City</p></div>
                            <div class="col-md-3"><p>Pincode:</p></div>
                            <div class="col-md-9"><p>@customer.PinCode</p></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            @if (Model != null && Model.Products != null && Model.Products.Any())
                            {
                                <thead style="text-align: center;background-color: #337ab7;color: #ffffff;">
                                    <tr>
                                        <th>Book Name</th>
                                        <th>Type</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Discount</th>
                                        <th>Tax</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    @{
                                        decimal sum = 0;
                                        decimal totalDiscount = 0;
                                        decimal totalTax = 0;
                                        var flag = "";
                                        foreach (var obj in Model.Products)
                                        {
                                            var price = (Convert.ToDecimal(obj.Price)) * obj.Quantity;
                                            totalDiscount += obj.Discount;
                                            sum += obj.TotalAmount;
                                            totalTax = totalTax + obj.TaxRate;
                                            flag = obj.Flag;
                                            <tr>
                                                <td align="left">@obj.Title</td>
                                                <td align="left">
                                                    @if (obj.BookType == PrachiIndia.Portal.Framework.BookType.EBook.ToString())
                                                    {
                                                        <span>E-Book</span>
                                                    }
                                                    else if (obj.BookType == PrachiIndia.Portal.Framework.BookType.PBook.ToString())
                                                    {
                                                        <span>Print Book</span>
                                                    }
                                                    else if (obj.BookType == PrachiIndia.Portal.Framework.BookType.Both.ToString())
                                                    {
                                                        <span>Both</span>
                                                    }
                                                </td>
                                                <td align="right"><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", obj.Price)</td>
                                                <td align="right">@obj.Quantity</td>
                                                <td align="right"><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", obj.Discount)</td>
                                                <td align="right"><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", obj.TaxRate)</td>
                                                <td align="right"><i class="fa fa-inr">&nbsp;@String.Format("{0:0.00}", obj.TotalAmount)</i></td>
                                            </tr>
                                        }
                                        if (sum <= 0)
                                        {
                                            <tr>
                                                @if (flag == "success")
                                                {
                                                    <td colspan="7" align="center"><span>Your Cart is Empty!!!</span></td>
                                                }

                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="6" align="right" style="text-align:right"><strong> Total Discount: </strong></td>
                                            <td align="right" style="text-align:right"><strong><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", totalDiscount)</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="right" style="text-align:right"><strong> Subtotal Total: </strong></td>
                                            <td align="right" style="text-align:right"><strong><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", (sum - totalTax))</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="right" style="text-align:right"><strong> Total Tax: </strong></td>
                                            <td align="right" style="text-align:right"><strong><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", totalTax)</strong></td>
                                        </tr>

                                        <tr>
                                            <td colspan="6" align="right" style="text-align:right"><strong> Total Amount: </strong></td>
                                            <td align="right" style="text-align:right"><strong><i class="fa fa-inr"></i>&nbsp;@String.Format("{0:0.00}", sum)</strong></td>
                                        </tr>
                                    }
                                </tbody>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" align="center"><span>Your Cart is Empty!!!</span></td>
                                            </tr>
                                        }
                        </table>

                    </div>
                    <div class="bs-example-tooltips text-right">
                        @if (Model.Status == "SUCCESS" || Model.Status == "FAILURE")
                        {

                            <a class="btn btn-primary" href="@Url.Action("Index", "Catalogue")">Continue Shopping</a>
                        }

                    </div>
                </div>

            </div>
        </div>


    </div>
                                        }
@section scripts{
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script>
        $(function () {

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };
            $('#cmd').click(function () {
                var doc = new jsPDF();
                doc.fromHTML($('#target').html(), 18, 18, {
                    'width': 200, 'elementHandlers': specialElementHandlers
                });
                doc.save('sample-file.pdf');
            });
        });
        function Mainpage() {
            var url = "/Home/index";
            window.location.href = url;
        }
    </script>


}