@model PrachiIndia.Portal.Models.OrderTrackVm
<div class="modal fade" id="Login">
    <div class="modal-dialog" style="width:50% ; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="clearvalidation();" data-dismiss="modal">
                    <span class="h2"><span class="glyphicon glyphicon-remove"></span></span>
                </button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="small">100% Secure, Safe Online Shipping   &amp; Order Processing</span> </h4>
            </div>
            <div class="modal-body" style="background: #eee;">
                @using (Html.BeginForm("dispatchOrder", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            <label for="firstName" class="col-sm-2 control-label">AWB No:</label>
                            <div class="col-sm-10">
                                @Html.ValidationMessageFor(model => model.AWBNO, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(t=>t.AWBNO, new { @class = "form-control" })
                                <span class="help-block">Put AWB NO.</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">DispatchBy:</label>
                            <div class="col-sm-10">
                                @Html.ValidationMessageFor(model => model.DispatchedBy, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(t=>t.DispatchedBy, new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.OrderId,new { @id="HDNOrder"})
                        <input type="hidden" id="hdn" value="" />
                        <div class="form-group">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">

                                <input type="submit" class="btn btn-primary" id="btndispatch" style="margin-top:10PX;" value="dispatch">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div id="" class="col-lg-11 text-left text-uppercase text-muted ">
                    <p><span class="pull-left small">By creating account, building profile, signing in and sharing Personal Information, I understand and agree all the relevant terms and conditions.    We do not share any information with third party(s) in any form, without your written prior concent.</span></p>
                </div>
                <div id="" class="col-lg-1 text-center">
                    <button type="button" class="close" onclick="clearvalidation();" data-dismiss="modal">
                        <span class="h2"><span class="glyphicon glyphicon-remove"></span></span>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>
